@charset "utf-8";

/* ヘッダー */
.logo {
    position: fixed;
    width: 120px;
    height: auto;
    top: 0;
    left: 0;
}

hr {
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: rgb(172, 172, 172);
}

/* カテゴリのボタン */
button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 60px;
}

img:not(.logo) {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}